<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生周报提交系统</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/reg1.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/LineIcons.css">
    <link rel="stylesheet" href="../static/css/teal.css">

    <script src="../static/js/jquery-3.4.1.js"></script>
    <style>
        .shadow{
             transition-duration: 0.5s; //停留时间显示
        }
        .shadow:hover{
            -webkit-box-shadow: #ccc 0px 10px 10px;
            -moz-box-shadow: #ccc 0px 10px 10px;
            box-shadow: #ccc 0px 10px 10px;  }
    </style>
</head>
<body>

<div class="wrap-box"></div>
      <div id="header" >
            <div class="header_title " ><a href="javascript:void(0);" onclick="getthome()">学生周报系统 </a></div>
    <div class="header_nav">
       <ul id="header_menu_list "   >
           <li class="header_menu_list header_menu_list_checked header_menu_list_fi"><a href="javascript:void(0);" onclick="getthome()" >首页</a></li>
           <li class="header_menu_list"><span></span><a href="javascript:void(0);" onclick="gettijiao()" >提交审核</a></li>
           <li class="header_menu_list"><span></span><a  href="javascript:void(0);" onclick="gethistory()">历史提交</a></li>
           <div class="clear"></div>
       </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="header lead text-center ">
       <h1 >Homepage</h1>
</div>
<div class="homcontainer">
    <div class="contain1">
    <div class="ulbox">
        <div class="cbox"><h1>完善信息</h1>
             <div class="my_formu2">
              <label for="informt"  >老师教工号</label>
             <input    class="minput" type="text" id="informt"  placeholder="输入老师教工号">
            <br><p id="sid"></p><br>
            </div>

             <div class="my_formu2">
             <label for="informt2" >学生姓名</label>
              <input class="minput" type="text" id="informt2" placeholder="输入你的真实姓名">
            <br><p id="sid"></p><br>
            </div>
            <div class="buttonp">
            <button class="btn-light" type="submit" onclick="addtmge()" id="announ">提交</button>
            </div>
        </div>


    </div>
    <div class="informbox">
        <div class="content" >
            <p class="contentp" id="content"></p>
        </div>



    </div>
        </div>


    <!-- 功能选择 -->
    <div id="services" class="section">
    <div class="mycontain">
    <div class="row">
        <!-- start-->
        <div class="col-lg-4 col-md-6 " >
                <div class="service-item text-center shadow">
                        <div class="icon">
                            <i class="lni-cog">
                            </i>
                        </div>
                        <h4>学生周报查看</h4>
                         <p>可以查看学生上交情况</p>

                </div>

        </div>
        <!--end-->
        <div class="col-lg-4 col-md-6 ">
            <div class="service-item text-center shadow">
                <div class="icon">
                    <i class="lni-brush">

                    </i>

                </div>
                <h4>学生信息</h4>
                <p>可以查看所有学生的具体信息</p>

            </div>

        </div>
        <!-- end-->
        <div class="col-lg-4 col-md-6 ">
            <div class="service-item text-center shadow">
                <div class="icon">
                    <i class="lni-heart">

                    </i>

                </div>
                <h4>学生信息</h4>
                <p>可以查看所有学生的具体信息</p>

            </div>

        </div>



    </div>

    </div>
        </div>
     </div>





</body>
<script>


    function getcontent(){
        var getuser=getParameter("user");
        var span=document.getElementById("content");
        $.getJSON("getstudentcontent?name="+getuser,function (res) {
            if (res.result=="ok"){
                var content=res.content;
                span.innerHTML=content;

            } else{
                span.innerHTML="";

            }

        })


    };

    window.onload=function () {
            getcontent();
    };

    /**
     * @return {string}
     */
// param 为 参数的名称
        function getParameter(param)
        {
         var query = window.location.search;
         var iLen = param.length;
         var iStart = query.indexOf(param);
         if (iStart == -1)
          return "";
         iStart += iLen + 1;
         var iEnd = query.indexOf("&", iStart);
         if (iEnd == -1)
          return query.substring(iStart);

         return query.substring(iStart, iEnd);
        }


        function addtmge() {
            var getuser=getParameter("user")
            var input1=document.getElementById("informt").value;
            var input2=document.getElementById("informt2").value;
            var span=document.getElementById("content");
            $.getJSON("addtmessage?name="+getuser+"&text="+input1+"&realname="+input2,function (res) {
                 if (res.result=="ok"){
                    span.innerHTML=res.content;
                } else{
                    alert("上传错误")
                }

            })

        }
            function gethistory() {
            var span=getParameter("user")
            //window.location.href="/gothomelook?user"+span;
             window.location.href="gosthistory?user="+span;
        }

         function gettijiao() {
            var span=getParameter("user")
            //window.location.href="/gothomelook?user"+span;
             window.location.href="gotijiao?user="+span;
        }

        function getlogin(){
            window.location.href="/"
        }




</script>
</html>